function new_project {
  if [[ -z "$1" ]]; then
    echo "
New Node.js project generator

Usage:
  new_project project-name
"
    return 1
  fi

  typeset project_name=$1

  if [[ -e $project_name ]]; then
    echo "A file or directory named '$project_name' already exists."
    return 1
  else
    echo "Creating directory '$project_name'…"
    mkdir $project_name
  fi

  # Temporarily change into new project directory
  pushd $project_name > /dev/null

  echo "Adding README.md…"
  echo "# $project_name\n\nA description of $project_name" > README.md

  echo "Adding LICENSE…"
  npx --quiet --yes license $(yarn config get init-license)

  echo "Adding CODE_OF_CONDUCT.md…"
  npx --quiet --yes covgen "$(yarn config get init-author-email)" > /dev/null

  echo "Adding .gitignore…"
  npx --quiet --yes gitignore node > /dev/null

  echo "Initializing package.json…"
  yarn init --yes --silent

  echo "Initializing git…"
  git init --quiet
  git config user.email "$(yarn config get init-author-email)"
  git add --all
  git commit --quiet --message="Initial commit"

  # Navigate back out of new project directory
  popd > /dev/null
  echo "Done! Happy hacking!"
}
