[core]
	excludesfile = /Users/ben/.gitignore_global
	editor = vim
[init]
	defaultBranch = main
[user]
	name = Ben Booth
	email = ben@benbooth.dev
	signingkey = 77A86371
[pager]
  branch = false
[color]
	ui = true
[push]
	default = current
[commit]
	gpgsign = true
