[core]
	excludesfile = /Users/ben/.gitignore_global
	editor = vim
	ignorecase = false
	gpgsign = true
[init]
	defaultBranch = main
[user]
	name = Ben Booth
	email = hey@benbooth.dev
	signingkey = 77A86371
[pager]
  branch = false
[color]
	ui = true
[push]
	default = current
[commit]
	gpgsign = true
