[core]
	excludesfile = /Users/ben/.gitignore_global
	editor = vim
[user]
	name = Ben Booth
	email = bkbooth@gmail.com
	signingkey = 77A86371
[pager]
  branch = false
[color]
	ui = true
[push]
	default = current
[commit]
	gpgsign = true
